/* ***************************************** */
/* ***************************************** */
/* ***** 시작 : 본문 전용 요소 스타일 모음 ***** */

/* 공통 */
* {
    line-height: 25px;
}

/* 문단 */
h2 {
    padding-bottom: 20px;
}

p {
    padding-bottom: 15px;
}

/* ***** 끝 : 본문 전용 요소 스타일 모음 ***** */
/* ***************************************** */
/* ***************************************** */
/* ***** 시작 : 본문 전용 클래스 스타일 모음 ***** */

/* 본문 클래스 */
.contents_general {
    /* 크기 */
    width: 100%;
    /* 위치 */
    padding: 50px;
}

.contents_box {
    padding: 20px;
}

/* ***** 끝 : 본문 전용 클래스 모음 ***** */
/* ***************************************** */
/* ***************************************** */