/* ***** 요소별 공통 스타일 ***** */
a:hover {
    color: grey;
}

/* ***** 시작: 머릿말 ***** */

#header {
    /* 크기 */
    width: 100%;
    /* 배경 */
    background: white;
}

/* ***** 끝: 머릿말 ***** */
/* ********************* */
/* ********************* */
/* ********************* */
/* ***** 시작: 본문 ***** */

#contents {
    /* 크기 */
    width: 100%;
    /* 배경 */
    background: rgba(100, 100, 100, 0.5);
}

/* 본문1 */
#c1 {
    /* 크기 */
    width: 100%;
    height: 500px;
    /* 배경 */
    background: url('../img/bg_c1.jpg') center;
}

#c1_box {
    /* 크기 */
    width: 50%;
    /* 배경 */
    background: rgb(255, 255, 255);
    border: 5px solid rgb(255, 235, 55);
}

#c1_box a:hover {
    color: rgb(255, 235, 55);
}

/* 본문2 */
#c2 {
    /* 크기 */
    width: 100%;
    height: 500px;
    /* 배경 */
    background: url('../img/bg_c2_2.jpg') center;
}

#c2_box {
    /* 크기 */
    width: 50%;
    /* 위치 */
    float: right;
    /* 배경 */
    background: rgb(255, 255, 255);
    border: 5px solid #14f352;
}

#c2_box a:hover {
    color: orange;
}

/* ***** 끝: 본문 ***** */
/* ********************* */
/* ********************* */
/* ********************* */
/* ***** 시작: 바닥글 ***** */



/* ***** 끝: 바닥글 ***** */